Repository MichaIng/DietPi-Docs, pull requests merged in 2021-11, with the labels that each got.

#607 Remove emonHub and Subsonic docs
  docs/assets/images/dietpi-software-homeautomation-emonpi-emonPi-g2.jpg
  docs/assets/images/dietpi-software-homeautomation-emonpi-emonPi-g3.jpg
  docs/assets/images/dietpi-software-homeautomation-emonpi-emonPi-g4.jpg
  docs/assets/images/dietpi-software-homeautomation-emonpi-emonPi-g5.jpg
  docs/assets/images/dietpi-software-homeautomation-emonpi-emonPi-g6.jpg
  docs/assets/images/dietpi-software-homeautomation-emonpi-emonPi-g7.jpg
  docs/assets/images/dietpi-software-homeautomation-emonpi-emoncms-emonpi_addfeed.png
  docs/assets/images/dietpi-software-homeautomation-emonpi-emoncms-emonpi_inputs.png
  docs/assets/images/dietpi-software-homeautomation-emonpi.png
  docs/assets/images/dietpi-software-media-subsonic.png
  docs/software.md
  docs/software/home_automation.md
  docs/software/media.md
Labels: correction, Next DietPi release

#611 Add Tor logs command
  docs/software/advanced_networking.md
  docs/software/distributed_projects.md
Labels: extension

#612 Add docs for DietPi-Dashboard
  docs/assets/images/dietpi-dashboard.jpg
  docs/software.md
  docs/software/system_stats.md
Labels: extension, Next DietPi release

#614 Update and complement Roon Server and Bridge docs
  docs/software/media.md
Labels: correction, extension, Next DietPi release

#615 Update DietPi-Backup docs
  docs/assets/images/dietpi-backup_1.png
  docs/dietpi_tools.md
Labels: enhancement, extension, Next DietPi release

#613 Release notes DietPi v7.8
  docs/releases.md
Labels: extension, Next DietPi release

#617 Release Notes7.8 (updated)
  .wordlist.txt
  docs/assets/images/dietpi-backup-daily.png
  docs/assets/images/dietpi-overclocking-profiles.jpg
  docs/assets/images/dietpi-radxa-zero.jpg
  docs/assets/images/dietpi-raspberry-pi-zero-2.jpg
  docs/assets/images/raspberry-pi-zero-w.jpg
  docs/hardware.md
  docs/releases.md
Labels: enhancement, extension, Next DietPi release

#616 Release week 45
  .wordlist.txt
  docs/assets/images/dietpi-backup-daily.png
  docs/assets/images/dietpi-backup_1.png
  docs/assets/images/dietpi-dashboard.jpg
  docs/assets/images/dietpi-overclocking-profiles.jpg
  docs/assets/images/dietpi-radxa-zero.jpg
  docs/assets/images/dietpi-raspberry-pi-zero-2.jpg
  docs/assets/images/dietpi-software-homeautomation-emonpi-emonPi-g2.jpg
  docs/assets/images/dietpi-software-homeautomation-emonpi-emonPi-g3.jpg
  docs/assets/images/dietpi-software-homeautomation-emonpi-emonPi-g4.jpg
  docs/assets/images/dietpi-software-homeautomation-emonpi-emonPi-g5.jpg
  docs/assets/images/dietpi-software-homeautomation-emonpi-emonPi-g6.jpg
  docs/assets/images/dietpi-software-homeautomation-emonpi-emonPi-g7.jpg
  docs/assets/images/dietpi-software-homeautomation-emonpi-emoncms-emonpi_addfeed.png
  docs/assets/images/dietpi-software-homeautomation-emonpi-emoncms-emonpi_inputs.png
  docs/assets/images/dietpi-software-homeautomation-emonpi.png
  docs/assets/images/dietpi-software-media-subsonic.png
  docs/assets/images/raspberry-pi-zero-w.jpg
  docs/dietpi_tools.md
  docs/hardware.md
  docs/releases.md
  docs/software.md
  docs/software/advanced_networking.md
  docs/software/distributed_projects.md
  docs/software/gaming.md
  docs/software/home_automation.md
  docs/software/media.md
  docs/software/system_stats.md
  docs/usage.md
Labels: release

#618 Add steps to downgrade PHP packages
  docs/usage.md
Labels: extension

#619 Release week 46
  .github/workflows/actions.yml
  docs/hardware.md
  docs/usage.md
Labels: release

#623 Linking and wording regarding Radxa corrected.
  docs/hardware.md
Labels: correction
