Repository MichaIng/DietPi-Docs, pull requests merged in 2022-04, with the labels that each got.

#712 Release week 13
  .github/workflows/actions.yml
  .wordlist.txt
  docs/assets/images/Parallels1.jpg
  docs/assets/images/UTM1.png
  docs/assets/images/UTM2.png
  docs/assets/images/UTM3.png
  docs/assets/images/UTM4.png
  docs/assets/images/VMwareESXi_01.jpg
  docs/assets/images/VMwareESXi_02.jpg
  docs/assets/images/VMwareESXi_03.jpg
  docs/assets/images/VMwareESXi_04.jpg
  docs/assets/images/VMwareESXi_05.jpg
  docs/assets/images/airsonic_setup_1.png
  docs/assets/images/airsonic_setup_2.png
  docs/assets/images/airsonic_setup_3.png
  docs/assets/images/dietpi-banner-reboot.jpg
  docs/assets/images/dietpi-banner_large_hostname.png
  docs/assets/images/dietpi-release-v8_2.jpg
  docs/assets/images/dietpi-release-v8_3.jpg
  docs/assets/images/dietpi-software-php-composer.png
  docs/assets/images/dietpi-software-webstack-redis.svg
  docs/assets/images/microk8s.png
  docs/assets/images/proxmox1.png
  docs/assets/images/proxmox2.png
  docs/assets/images/proxmox3.png
  docs/assets/images/redis-logo.svg
  docs/releases.md
  docs/releases/v8_3.md
  docs/software/camera.md
  docs/software/databases.md
  docs/software/remote_desktop.md
  mkdocs.yml
  requirements.txt
Labels: release

#713 Bugfixing and beautification releasenotes v8.3
  docs/assets/images/dietpi-release-v8_3_dietpi-banner.png
  docs/assets/images/dietpi-release-v8_3_dietpi-drive_manager.png
  docs/releases/v8_3.md
Labels: correction, enhancement

#446 Replace html font tags with HTML headings
  docs/install.md
  docs/software/dns_servers.md
  docs/usage.md
Labels: enhancement, discussion

#715 VirtualHere | Add common info tabs
  docs/software/media.md
  docs/software/remote_desktop.md
Labels: extension

#716 Release week 16
  .github/workflows/actions.yml
  .spellcheck.yml
  docs/install.md
  docs/releases/v8_3.md
  docs/software/dns_servers.md
  docs/software/media.md
  docs/software/remote_desktop.md
  docs/usage.md
  mkdocs.yml
  requirements.txt
Labels: release

#717 Dietpi tools docu updated
  docs/assets/images/dietpi-autostart.jpg
  docs/assets/images/dietpi-banner_config.jpg
  docs/assets/images/dietpi-launcher.jpg
  docs/assets/images/dietpi-software.jpg
  docs/dietpi_tools.md
Labels: correction, Next DietPi release

#720 Update build script URLs and names
  docs/hardware.md
Labels: Next DietPi release

#721 Remove OpenBazaar
  docs/software.md
  docs/software/social.md
Labels: Next DietPi release

#719 Releasenotes 8.4
  .wordlist.txt
  docs/assets/images/dietpi-release-v8_4.jpg
  docs/releases.md
  docs/releases/v8_0.md
  docs/releases/v8_1.md
  docs/releases/v8_2.md
  docs/releases/v8_3.md
  docs/releases/v8_4.md
  mkdocs.yml
Labels: Next DietPi release

#722 Release week 17
  .wordlist.txt
  docs/assets/images/dietpi-autostart.jpg
  docs/assets/images/dietpi-banner_config.jpg
  docs/assets/images/dietpi-launcher.jpg
  docs/assets/images/dietpi-release-v8_3_dietpi-banner.png
  docs/assets/images/dietpi-release-v8_3_dietpi-drive_manager.png
  docs/assets/images/dietpi-release-v8_4.jpg
  docs/assets/images/dietpi-software.jpg
  docs/dietpi_tools.md
  docs/hardware.md
  docs/releases.md
  docs/releases/v8_0.md
  docs/releases/v8_1.md
  docs/releases/v8_2.md
  docs/releases/v8_3.md
  docs/releases/v8_4.md
  docs/software.md
  docs/software/social.md
  mkdocs.yml
  requirements.txt
Labels: release, Next DietPi release
