Repository MichaIng/DietPi-Docs, pull requests merged in 2022-05, with the labels that each got.

#725 Switch forum link from phpBB to Discourse
  README.md
  docs/assets/images/dietpi-release-v8_4.jpg
  docs/index.md
  docs/releases/v7_6.md
  docs/releases/v8_4.md
  docs/software/bittorrent.md
  docs/software/cloud.md
  docs/software/desktop.md
  docs/software/media.md
  docs/usage.md
  mkdocs.yml
Labels: release

#726 CI | Update GitHub runner to Ubuntu 22.04
  .github/workflows/actions.yml
  README.md
  mkdocs.yml
Labels: CI

#728 DietPi-Software | Prowlarr
  .wordlist.txt
  docs/assets/images/dietpi-software-download-prowlarr.png
  docs/software.md
  docs/software/bittorrent.md
Labels: new content, Next DietPi release

#729 Release week 21
  .github/workflows/actions.yml
  .wordlist.txt
  README.md
  docs/assets/images/dietpi-release-v8_2.jpg
  docs/assets/images/dietpi-release-v8_3.jpg
  docs/assets/images/dietpi-release-v8_4.jpg
  docs/assets/images/dietpi-release-v8_5.jpg
  docs/assets/images/dietpi-software-download-prowlarr.png
  docs/releases.md
  docs/releases/v7_0.md
  docs/releases/v8_2.md
  docs/releases/v8_3.md
  docs/releases/v8_4.md
  docs/releases/v8_5.md
  docs/software.md
  docs/software/bittorrent.md
  docs/software/cloud.md
  mkdocs.yml
Labels: release, Next DietPi release

#732 Complement and align Amiberry docs
  .wordlist.txt
  docs/releases/v8_5.md
  docs/software/gaming.md
Labels: enhancement, extension

#733 Release week 21 vol 2
  .wordlist.txt
  docs/assets/images/dietpi-release-v8_2.jpg
  docs/assets/images/dietpi-release-v8_3.jpg
  docs/assets/images/dietpi-release-v8_4.jpg
  docs/assets/images/dietpi-release-v8_5.jpg
  docs/assets/images/dietpi-software-download-prowlarr.png
  docs/releases/v8_5.md
  docs/software/gaming.md
Labels: release
