Repository MichaIng/DietPi-Docs, pull requests merged in 2022-08, with the labels that each got.

#765 Extension of the DietPi-Backup documentation
  docs/assets/images/dietpi-backup_filter-option.jpg
  docs/dietpi_tools.md
Labels: extension

#766 Release week 33
  docs/assets/images/dietpi-backup_filter-option.jpg
  docs/dietpi_tools.md
Labels: extension

#767 DietPi v8.8 release notes
  .wordlist.txt
  docs/assets/images/dietpi-release-v8_8.jpg
  docs/releases.md
  docs/releases/v8_8.md
  mkdocs.yml
Labels: Next DietPi release

#768 Release week 34
  .github/workflows/actions.yml
  .wordlist.txt
  docs/assets/images/dietpi-release-v8_8.jpg
  docs/releases.md
  docs/releases/v8_8.md
  mkdocs.yml
Labels: release
