Repository MichaIng/DietPi-Docs, pull requests merged in 2023-07, with the labels that each got.

#899 Releasenotes v8.19
  .wordlist.txt
  docs/assets/images/dietpi-release-v8_19.jpg
  docs/releases.md
  docs/releases/v8_19.md
  mkdocs.yml
Labels: release

#900 Release week 26
  .wordlist.txt
  docs/assets/images/dietpi-release-v8_19.jpg
  docs/assets/images/mediawiki-logo.svg
  docs/dietpi_tools/system_maintenance.md
  docs/hardware.md
  docs/releases.md
  docs/releases/v8_19.md
  docs/software.md
  docs/software/cloud.md
  docs/software/media.md
  mkdocs.yml
Labels: release

#902 [ImgBot] Optimize images (#901)
  docs/assets/images/dietpi-release-v8_18.jpg
  docs/assets/images/dietpi-release-v8_19.jpg
Labels: release

#905 Release week 28
  docs/hardware.md
  docs/install.md
  docs/releases/v7_3.md
  docs/software/media.md
Labels: release

#904 Add Homebridge docs
  .wordlist.txt
  docs/assets/images/dietpi-software-homeautomation-homebridge.svg
  docs/software.md
  docs/software/home_automation.md
Labels: extension

#906 WiFi hotspot: Changing subnet settings described
  docs/assets/images/dietpi-software-advanced-networking-wifihotspot-address-setting.png
  docs/releases/v7_0.md
  docs/software/advanced_networking.md
Labels: extension

#908 Releasenotes v8.20
  .wordlist.txt
  docs/assets/images/dietpi-release-v8_20.jpg
  docs/releases.md
  docs/releases/v8_20.md
  mkdocs.yml
Labels: Next DietPi release

#909 Release week 30
  .wordlist.txt
  docs/assets/images/dietpi-release-v8_20.jpg
  docs/assets/images/dietpi-software-advanced-networking-wifihotspot-address-setting.png
  docs/assets/images/dietpi-software-homeautomation-homebridge.svg
  docs/releases.md
  docs/releases/v7_0.md
  docs/releases/v8_20.md
  docs/software.md
  docs/software/advanced_networking.md
  docs/software/home_automation.md
  mkdocs.yml
Labels: release

#910 Little heading fix
  docs/software/cloud.md
Labels: correction
