Repository MichaIng/DietPi-Docs, pull requests merged in 2023-06, with the labels that each got.

#891 DietPi v8.18 release notes
  .wordlist.txt
  docs/releases.md
  docs/releases/v8_18.md
  docs/software/media.md
  mkdocs.yml
Labels: Next DietPi release

#893 RNs v8.18: Graphic updated
  docs/assets/images/dietpi-release-v8_18.jpg
  docs/releases/v8_18.md
Labels: correction, Next DietPi release

#892 Release week 22
  .wordlist.txt
  docs/assets/images/dietpi-release-v8_17.jpg
  docs/assets/images/dietpi-release-v8_18.jpg
  docs/assets/images/restic-logo.png
  docs/releases.md
  docs/releases/v8_18.md
  docs/software/cloud.md
  docs/software/media.md
  mkdocs.yml
Labels: release

#894 Update all image downloads to Bookworm
  .github/workflows/main.yml
  .wordlist.txt
  docs/hardware.md
  docs/install.md
  docs/software/media.md
  docs/software/social.md
Labels: release

#890 Add DietPi-Backup filter syntax description
  docs/dietpi_tools/system_maintenance.md
Labels: enhancement
