Repository MichaIng/DietPi-Docs, pull requests merged in 2024-03, with the labels that each got.

#972 Kavita: Expand the documentation
  .wordlist.txt
  docs/assets/images/dietpi-software-media-kavita.jpg
  docs/software.md
  docs/software/media.md
Labels: extension

#971 Enable standard header also in the documentation portal
  README.md
  docs/assets/images/dietpi-logo_180x180.png
  docs/assets/stylesheets/custom.css
  docs/index.md
  mkdocs.yml
  overrides/main.html
Labels: enhancement

#982 Release week 10
  .wordlist.txt
  README.md
  docs/assets/images/PINE64-STAR64.jpg
  docs/assets/images/dietpi-logo_180x180.png
  docs/assets/images/dietpi-release-v8_25.jpg
  docs/assets/images/dietpi-release-v9_00.jpg
  docs/assets/images/dietpi-release-v9_01.jpg
  docs/assets/images/dietpi-software-media-kavita.jpg
  docs/assets/stylesheets/custom.css
  docs/index.md
  docs/software.md
  docs/software/media.md
  mkdocs.yml
  overrides/main.html
Labels: release

#980 Added some info for how to change config in file browser
  docs/software/cloud.md
Labels: enhancement

#985 Releasenotes v9.2
  .wordlist.txt
  docs/assets/images/dietpi-release-v9_02.jpg
  docs/releases.md
  docs/releases/v9_2.md
  mkdocs.yml
Labels: release

#986 Release week 11
  .wordlist.txt
  docs/assets/images/dietpi-release-v9_02.jpg
  docs/releases.md
  docs/releases/v9_2.md
  docs/software/cloud.md
  mkdocs.yml
Labels: release
