Repository MichaIng/DietPi-Docs, pull requests merged in 2024-04, with the labels that each got.

#987 DietPi-Software | MediaWiki
  docs/software/social.md
Labels: correction

#988 Typo fix
  docs/software/media.md
  docs/software/system_stats.md
Labels: correction

#989 Add release notes for DietPi v9.3
  docs/assets/images/dietpi-release-v9_03.jpg
  docs/releases.md
  docs/releases/v9_3.md
  docs/software/programming.md
  mkdocs.yml
Labels: Next DietPi release

#990 Release week 16
  docs/assets/images/dietpi-release-v9_02.jpg
  docs/assets/images/dietpi-release-v9_03.jpg
  docs/assets/images/dietpi-software-media-kavita.jpg
  docs/releases.md
  docs/releases/v9_3.md
  docs/software/bittorrent.md
  docs/software/gaming.md
  docs/software/media.md
  docs/software/programming.md
  docs/software/social.md
  docs/software/system_stats.md
  mkdocs.yml
Labels: release

#992 Wrong Raspberry Pi graphics description
  docs/releases/v9_3.md
Labels: correction

#993 Wrong image description
  docs/releases/v9_3.md
Labels: release
