Repository MichaIng/DietPi-Docs, pull requests merged in 2024-02, with the labels that each got.

#974 Add YDNS link to dietpi-ddns section of software installation page.
  docs/dietpi_tools/software_installation.md
Labels: extension

#975 Fix the command to change the Adguard Home password
  docs/software/dns_servers.md
Labels: correction

#976 Releasenotes v9.1
  .wordlist.txt
  docs/assets/images/dietpi-release-v9_01.jpg
  docs/hardware.md
  docs/references.md
  docs/releases.md
  docs/releases/v6_27.md
  docs/releases/v6_29.md
  docs/releases/v6_34.md
  docs/releases/v9_1.md
  docs/software/distributed_projects.md
  docs/software/hardware_projects.md
  docs/software/log_system.md
  docs/software/programming.md
  docs/software/system_stats.md
  mkdocs.yml
Labels: release

#977 Release week 8
  .github/workflows/main.yml
  .wordlist.txt
  docs/assets/images/dietpi-release-v9_01.jpg
  docs/dietpi_tools/software_installation.md
  docs/hardware.md
  docs/references.md
  docs/releases.md
  docs/releases/v6_27.md
  docs/releases/v6_29.md
  docs/releases/v6_34.md
  docs/releases/v8_6.md
  docs/releases/v9_1.md
  docs/software/databases.md
  docs/software/distributed_projects.md
  docs/software/dns_servers.md
  docs/software/hardware_projects.md
  docs/software/log_system.md
  docs/software/media.md
  docs/software/programming.md
  docs/software/remote_desktop.md
  docs/software/system_stats.md
  docs/software/webserver_stack.md
  mkdocs.yml
Labels: release

#979 Link corrections
  .github/workflows/main.yml
  docs/hardware.md
  docs/releases/v8_25.md
  docs/releases/v9_1.md
Labels: correction, release
