Repository MichaIng/DietPi-Docs, pull requests merged in 2025-08, with the labels that each got.

#1097 Type dhcp.conf -> dhcpd.conf
  docs/software/advanced_networking.md
Labels: correction

#1099 Releasenotes v9.16
  .wordlist.txt
  docs/assets/images/dietpi-release-v9_16.webp
  docs/releases.md
  docs/releases/v9_16.md
  mkdocs.yml
Labels: release

#1100 Release week 34
  .github/workflows/main.yml
  .wordlist.txt
  docs/assets/images/dietpi-release-v9_16.webp
  docs/dietpi_tools/misc_tools.md
  docs/dietpi_tools/software_installation.md
  docs/dietpi_tools/system_configuration.md
  docs/dietpi_tools/system_maintenance.md
  docs/releases.md
  docs/releases/v9_15.md
  docs/releases/v9_16.md
  docs/software/advanced_networking.md
  docs/software/home_automation.md
  docs/software/media.md
  docs/software/system_stats.md
  mkdocs.yml
Labels: release

#1102 [ImgBot] Optimize images (#1101)
  docs/assets/images/dietpi-software-cloud-filebrowser-usermgmt.png
  docs/assets/images/dietpi-software-dnsserver-pihole.png
  docs/assets/images/gzdoom-logo.png
  docs/assets/images/homer-preview.png
Labels: performance
